:root {


    --font-title: 32px
}

body {
    background: var(--whitesmoke);
    margin: 0;
}

.bold {
    font-weight: bold;
}

.navbar {
    color: var(--purpe);
    background: var(--platinum);
    padding: 25px;
    padding-left: 50px;

    .title { 
        color: var(--purple);
        font-size: var(--font-title);
        text-decoration: none;
    }
}
