@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --whitesmoke: #F5F5F5;
  --platinum: #E8E2E2;
  --pumpkin: #FE7F2D;
  --purple: #482973;
  --black: #0E0E0E;

  --font-title: 32px
}

body {
  background: var(--whitesmoke);
  margin: 0;
}

.bold {
  font-weight: bold;
}

.navbar {
  color: var(--purpe);
  background: var(--platinum);
  padding: 25px;
  padding-left: 50px;
}

.title { 
    color: var(--purple);
    font-size: var(--font-title);
    text-decoration: none;
}
